<header>

  <mat-toolbar class="mat-primary">
    <span>
      Template {{ category }}
    </span>
  </mat-toolbar>

</header>

<body>
  <form class="basic-container" [formGroup]="tableForm">
    <div formArrayName="rows">
      <div *ngFor="let row of getControls(); let i = index">
        <div [formGroupName]="i" class="form-item">
          <mat-form-field *ngFor="let field of fieldsControl;">
            <div [ngSwitch]="field.type">
              <div *ngSwitchCase="'text'">
                <input matInput type="text" placeholder="{{field.label}}" formControlName="{{field.label}}" name="{{field.label}}"/>
              </div>
              <div *ngSwitchCase="'number'">
                <input matInput type="number" placeholder="{{field.label}}" formControlName="{{field.label}}" name="{{field.label}}"/>
              </div>
            </div>
          </mat-form-field>
          <button *ngIf="!(this.isStatic)" mat-icon-button color="accent" aria-label="Remove/clear" (click)="removeRow(i)" matTooltip="Remove">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </div>
      </div>

      <div class="col-3" *ngIf="!(this.isStatic)">
        <button class="float-left" mat-icon-button color="primary" aria-label="Add" (click)="addRowFormGroup()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="selected-templates">
    <mat-form-field appearance="fill">
      <mat-label>Select template</mat-label>
      <mat-select [(ngModel)]="selectedTemplate" name="templates">
        <mat-option *ngFor="let template of templates" [value]="template">
          {{ template }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox type="checkbox" (change)="zipFile()">zip file?</mat-checkbox>
  </div>

  <div class="row">
    <div class="column"><button mat-flat-button class="main-button-back" (click)="backHome()">Back</button></div>
    <div class="column"><button mat-flat-button color="primary" class="main-button" (click)="exportToBackend()">Export</button></div>
  </div>

</body>

