body {
  align-content: center;
  text-align: center;
  align-self: center;
}

.button-class {
  margin-top: 2rem;
  position: absolute;
  right: 40%;
}

.mat-form-field {
  margin: 0.5rem;
}

.main-button {
  width: 5rem;
}

.main-button-back {
  width: 5rem;
  background: lightgrey;
}
