body {
  align-content: center;
  text-align: center;
  align-self: center;
}

.button-class {
  margin-top: 2rem;
  position: absolute;
  right: 40%;
}

.main-button {
  width: 5rem;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.preview-image {
  right: 25%;
  max-width: 50%;

}
