body {
  align-content: center;
  text-align: center;
  align-self: center;
}

.button-class {
  margin-top: 2rem;
  position: absolute;
  right: 40%;
}

.main-button {
  width: 5rem;
}

.main-button-back {
  width: 5rem;
  background: lightgrey;
}

.row {
  display: flex;
}

.column {
  margin: auto;
  width: 50%;
}

.preview-image {
  right: 25%;
  max-width: 50%;
}

.list-item {
}

.form-item {
}
